{% sw_extends '@Storefront/storefront/component/line-item/element/remove.html.twig' %}

{% block component_line_item_remove_form %}

{% if redirectTo is not defined %}
        {% set redirectTo = 'frontend.checkout.cart.page' %}
    {% endif %}

	{% set novalnetConfiguration = page.cart.extensions.novalnetConfiguration %}
	{% if novalnetConfiguration is not null %}
		
		
		{% if lineItem.extensions.novalnetConfiguration is not null %}
			{% if lineItem.removable %}
				{% set loaderOptions = {
					skipLoadingIndicator: true
				} %}
                <form action="{{ path('frontend.novalnet.subscription.line-item.delete', {'id': lineItem.id}) }}"
                      method="post"
                      data-form-submit-loader="true"
                      data-form-submit-loader-options="{{ loaderOptions|json_encode }}"
                      class="{% if displayMode === 'offcanvas' %}js-offcanvas-cart-remove-product{% endif %}">

                    {% block component_item_remove_redirect %}
                        <input type="hidden"
                       name="redirectTo"
                       value="{{ redirectTo }}">
                       
                       <input type="hidden"
                       name="redirectParameters"
                       value="{{ redirectParameters }}">
                    {% endblock %}

                    {% block component_item_remove_submit %}
                        <button type="submit"
                                title="{{ "checkout.removeLineItem"|trans|striptags }}"
                                data-product-id="{{ lineItem.id }}"
                                class="btn btn-light btn-sm line-item-remove-button">
                            {% sw_icon 'x' style { 'size': 'sm' } %}
                        </button>
                       
                    {% endblock %}

                </form>
            {% endif %}
		{% else %}
			{{ parent() }}
		{% endif %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
