{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_inner %}
	
	{% if product.parentId and product.extensions.novalnetConfiguration is null %}
		{% set extensions = product.parentId|getParentProduct %}
	{% else %}
		{% set extensions = product.extensions %}
	{% endif %}

	{% if extensions.novalnetConfiguration is not null and extensions.novalnetConfiguration.active is not empty %}
		{% set id = product.id %}
		 <div class="product-action d-grid"> 
			{% block component_product_box_action_detail %}
				<a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
				class="btn btn-block btn-light"
				title="{{ "listing.boxProductDetails"|trans|striptags }}">
					{{ "listing.boxProductDetails"|trans|sw_sanitize }}
				</a>
			{% endblock %}
			
			{% block component_product_box_action_meta %}
				<input type="hidden"
					   name="product-name"
					   value="{{ product.translated.name }}">

				<input type="hidden"
					   name="product-id"
					   value="{{ id }}">
			{% endblock %}
		</div>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
