{% sw_extends '@Storefront/storefront/page/checkout/checkout-aside-item.html.twig' %}


{% block page_checkout_aside_item_data%}
	{{ parent() }}
	{% set novalnetConfiguration = page.cart.extensions.novalnetConfiguration %}
	{% if novalnetConfiguration is not null %}
		{% for key, value in novalnetConfiguration.all %}
			{% set lineItemId = key|replace({"_": ""}) %}
			{% if lineItemId == lineItem.id %}
				{% set deliveryRemaining = (value.subscriptionLength / value.interval) %}
				<div class="col-4">
				</div>
				<div class="col-8">
					<div class="checkout-novalnet-subscription-title">
						{% if lineItem.price.unitPrice is not empty %}
							{% set totalAmount = lineItem.price.unitPrice * lineItem.quantity %}
						{% else %}
							{% set totalAmount = lineItem.price.totalPrice * lineItem.quantity %}
						{% endif %}
						<span class="cart-item-label">
							{% if value.interval == value.subscriptionLength %} 
								{% set interval = '' %} 
							{% elseif value.interval == 1 %} 
								{% set interval = "NovalnetSubscription.text.single"|trans({'%period%': "NovalnetSubscription.text.#{value.period|lower}"|trans|sw_sanitize})|sw_sanitize %} 
							{% else %} 
								{% set interval = "NovalnetSubscription.text.every"|trans({'%interval%': value.interval, '%period%': "NovalnetSubscription.text.#{value.period|lower}"|trans|sw_sanitize})|sw_sanitize %} 
							{% endif %}
							
							{{ "NovalnetSubscription.text.productDetailPageText"|trans({
								'%amount%': totalAmount|currency,
								'%interval%': interval
							})|sw_sanitize }}
							{% if value.subscriptionLength == 0 %}
								{{ "NovalnetSubscription.text.productDetailPageUnlimited"|trans|sw_sanitize }}
							{% else %}
								{{ "NovalnetSubscription.text.productDetailPageLength"|trans({
									'%period%': "NovalnetSubscription.text.#{value.period|lower}"|trans|sw_sanitize,
									'%length%': value.subscriptionLength
								})|sw_sanitize }}
							{% endif %}
							{% if value.freeTrial != 0 %}
								{{ "NovalnetSubscription.text.productPageWithFreeTrial"|trans({
									'%freeTrial%': value.freeTrial,
									'%freeTrialPeriod%': "NovalnetSubscription.text.#{value.freeTrialPeriod|lower}"|trans|sw_sanitize,
								})|sw_sanitize }}
							{% endif %}
							{% if value.signUpFee != 0 %}
								{{ "NovalnetSubscription.text.productPageWithSignupFee"|trans({
									'%signupFee%': (value.signUpFee * lineItem.quantity * context.currency.factor)|currency
								})|sw_sanitize }}
							{% endif %}
						</span>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}
