{% block page_product_detail_buy_subs %}

{% if novalnetSettings.multipleSubscription is not empty and novalnetSettings.multiSubscriptionOptions is not empty and novalnetSettings.operationalMonth != 0 %}
	{% set deliveryAmount = novalnetSettings.operationalMonth %}
{% else %}
	{% set deliveryAmount = ((novalnetSettings.subscriptionLength / novalnetSettings.interval))|round %}
{% endif %}

{% if novalnetSettings.freeTrial == 0 %}
	{% set balanceAmount = deliveryAmount -1 %}
{% else %}
	{% set balanceAmount = deliveryAmount %}
{% endif %}

{% block page_product_detail_buy_subs_hidden %}
	<span class="novalnet-subscription-delivery-interval-unit nnhide">
		<span>
			{{ "NovalnetSubscription.text.#{novalnetSettings.period|lower}"|trans|sw_sanitize }}
		</span>
	</span>
	{% block page_product_detail_buy_subs_data %}
		<div class="novalnet--subscription-data nnhide">{{ novalnetSettings|json_encode }}</div>
	{% endblock %}
{% endblock %}
	
<div class="card">
				
    <span class="card-header h4 bg-dark text-light" style="padding : 10px">{{ "NovalnetSubscription.text.subscriptionHeadline"|trans|sw_sanitize }}
        <span
            class="novalnet-subscription-notice text-white" data-toggle="tooltip"
            title="{{ "NovalnetSubscription.text.subscriptionIconline"|trans|sw_sanitize }}">{% sw_icon 'info' %}
        </span>
    </span>
    
    <div class="card-body p-4 bg-light">
	
		<form
            id="productDetailPageBuyNovalnetProductForm"
            action="{% block page_product_detail_buy_form_action %}{{ path('frontend.novalnet-subscription.checkout.line-item.add') }}{% endblock %}"
            method="post"
            class="buy-widget"
            data-add-to-cart="true"
        >
			
            {% set buyable = product.available and product.childCount <= 0 and product.calculatedMaxPurchase > 0 %}
            
            {% block page_product_detail_buy_subs_container %}
            
				{% if buyable %}
					<div class="subscription--detail-block">
					
						{% set novalnetDisplayPrice = page.product.calculatedPrice %}
						
						{% if page.product.calculatedPrices|length > 0  %}
							{% set novalnetDisplayPrice = page.product.calculatedPrices.first %}
						{% endif %}
						
						{% if novalnetSettings.multipleSubscription is not empty and novalnetSettings.multiSubscriptionOptions is not empty %}
							<p class="card-title">{{ "NovalnetSubscription.text.regularDelivery"|trans|sw_sanitize }}</p>
							
							{% block page_product_detail_buy_subs_container_discount %}
								{% if novalnetSettings.discount != '' and novalnetSettings.discount != 0 and novalnetSettings.discountScope != 'cycleduration' %}
									<strong>
										{% if novalnetSettings.discountType == 'fixed' %} {{ novalnetSettings.discount | currency() }} {% else %} {{ novalnetSettings.discount }}% {% endif %}
										{% if novalnetSettings.freeTrial == 0 and novalnetSettings.discountScope == 'first' %}
											{{ "NovalnetSubscription.text.discountNoticeFirst"|trans|sw_sanitize }}
										{% elseif novalnetSettings.freeTrial != 0 and novalnetSettings.discountScope == 'first' %}
											{{ "NovalnetSubscription.text.discountNoticeFirstFreeTrial"|trans|sw_sanitize }}
										{% elseif novalnetSettings.discountScope == 'last' %}
											{{ "NovalnetSubscription.text.discountNoticeLast"|trans|sw_sanitize }}
										{% elseif novalnetSettings.freeTrial != 0 and novalnetSettings.discountScope == 'all' %}
											{{ "NovalnetSubscription.text.discountNoticeAllFreeTrial"|trans|sw_sanitize }}
										{% else %}
											{{ "NovalnetSubscription.text.discountNoticeAll"|trans|sw_sanitize }}
										{% endif %}
									</strong>
								{% endif %}
							{% endblock %}
							
							<div class="row">
								<div class="col-12">
									<strong><span class="subscriptionPeriodDiscount"></strong>
								</div>
								<div class="col-5">
									{% for key in novalnetSettings.multiSubscriptionOptions %}
										<div class="custom-control custom-radio">
											<input required="" id="{{ key }}" type="radio" value="{{ key }}" name="interval" class="custom-control-input">
											<label class="custom-control-label" for="{{ key }}">{{ "NovalnetSubscription.text.#{key}"|trans|sw_sanitize }}</label>
										</div>
									{% endfor %}
								</div>
								<div class="col-7">
									<ul class="list-unstyled">
										<li><strong>{{ "NovalnetSubscription.text.subscriptionPeriod"|trans|sw_sanitize }}</strong><span class="subscriptionPeriod">
										{% if novalnetSettings.operationalMonth != 0 %}
											{{ novalnetSettings.operationalMonth }}
										{% else %}
											{{ "NovalnetSubscription.text.unlimitedSubscription"|trans|sw_sanitize }}
										{% endif %}
										</span>
										</li>
										{% if novalnetSettings.freeTrial != '0' %}
											<li><strong>{{ "NovalnetSubscription.text.freeTrial"|trans|sw_sanitize }}:</strong>
												{{ novalnetSettings.freeTrial }} {{ "NovalnetSubscription.text.#{novalnetSettings.freeTrialPeriod|lower}"|trans|sw_sanitize }}
											</li>
										{% endif %}
										{% if novalnetSettings.signUpFee != 0 %}
											<li><strong>{{ "NovalnetSubscription.text.initialSetupFee"|trans|sw_sanitize }}:</strong>
												{{ (novalnetSettings.signUpFee * context.currency.factor)|currency }}
											</li>
										{% endif %}
										
									</ul>
								</div>
							</div>
						{% else %}
							<p>
								{% if novalnetSettings.discount != '' and novalnetSettings.discount != 0 %}
									<strong>
										{% if novalnetSettings.discountType == 'fixed' %} {{ novalnetSettings.discount | currency() }} {% else %} {{ novalnetSettings.discount }}% {% endif %}
										{% if novalnetSettings.freeTrial == 0 and novalnetSettings.discountScope == 'first' %}
											{{ "NovalnetSubscription.text.discountNoticeFirst"|trans|sw_sanitize }}
										{% elseif novalnetSettings.freeTrial != 0 and novalnetSettings.discountScope == 'first' %}
											{{ "NovalnetSubscription.text.discountNoticeFirstFreeTrial"|trans|sw_sanitize }}
										{% elseif novalnetSettings.discountScope == 'last' %}
											{{ "NovalnetSubscription.text.discountNoticeLast"|trans|sw_sanitize }}
										{% elseif novalnetSettings.freeTrial != 0 and novalnetSettings.discountScope == 'all' %}
											{{ "NovalnetSubscription.text.discountNoticeAllFreeTrial"|trans|sw_sanitize }}
										{% else %}
											{{ "NovalnetSubscription.text.discountNoticeAll"|trans|sw_sanitize }}
										{% endif %}
									</strong>
								{% endif %}
							</p>
						
							<span class="subscription--info-block" style="color:{{ theme_config('sw-color-brand-primary') }}"> 
								{% if novalnetSettings.interval == novalnetSettings.subscriptionLength %} 
									{% set interval = '' %} 
								{% elseif novalnetSettings.interval == 1 %} 
									{% set interval = "NovalnetSubscription.text.single"|trans({'%period%': "NovalnetSubscription.text.#{novalnetSettings.period|lower}"|trans|sw_sanitize})|sw_sanitize %} 
								{% else %} 
									{% set interval = "NovalnetSubscription.text.every"|trans({'%interval%': novalnetSettings.interval, '%period%': "NovalnetSubscription.text.#{novalnetSettings.period|lower}"|trans|sw_sanitize})|sw_sanitize %} 
								{% endif %}
								
								{{ "NovalnetSubscription.text.productDetailPageText"|trans({
									'%amount%': novalnetDisplayPrice.unitPrice|currency,
									'%interval%': interval
								})|sw_sanitize }}
								{% if novalnetSettings.subscriptionLength == 0 %}
									{{ "NovalnetSubscription.text.productDetailPageUnlimited"|trans|sw_sanitize }}
								{% else %}
									{{ "NovalnetSubscription.text.productDetailPageLength"|trans({
										'%period%': "NovalnetSubscription.text.#{novalnetSettings.period|lower}"|trans|sw_sanitize,
										'%length%': novalnetSettings.subscriptionLength
									})|sw_sanitize }}
								{% endif %}
								{% if novalnetSettings.freeTrial != 0 %}
									{{ "NovalnetSubscription.text.productPageWithFreeTrial"|trans({
										'%freeTrial%': novalnetSettings.freeTrial,
										'%freeTrialPeriod%': "NovalnetSubscription.text.#{novalnetSettings.freeTrialPeriod|lower}"|trans|sw_sanitize,
									})|sw_sanitize }}
								{% endif %}
								{% if novalnetSettings.signUpFee != 0 %}
									{{ "NovalnetSubscription.text.productPageWithSignupFee"|trans({
										'%signupFee%': (novalnetSettings.signUpFee * context.currency.factor)|currency
									})|sw_sanitize }}
								{% endif %}
							</span>
							
							
							
						{% endif %}
					</div>
                {% endif %}
                
                <div class="subscription--info">
					<div>
						<strong>{{ "NovalnetSubscription.text.subscriptionDeliveryLabel"|trans|sw_sanitize }} {% if novalnetSettings.subscriptionLength != '0' && novalnetSettings.multipleSubscription is empty || (novalnetSettings.multipleSubscription is not empty and novalnetSettings.multiSubscriptionOptions is not empty and novalnetSettings.operationalMonth != 0 ) %} 
						<span class="subs--info-delivery"> {{ deliveryAmount }} </span> 
						{{ "NovalnetSubscription.text.subscriptionDeliveryIn"|trans|sw_sanitize }} 
						<span class="subs--info-duration"> {{ deliveryAmount }} </span> 
						{{ "NovalnetSubscription.text.subscriptionDeliveries"|trans|sw_sanitize }} {% else %} 
						<span> {{ "NovalnetSubscription.text.subscriptionEndlessInfo"|trans|sw_sanitize }} </span> {% endif %}</strong>
					</div>
					
					<div>
						<span>
							{% if novalnetSettings.freeTrial == 0 %} 
								{{ "NovalnetSubscription.text.subscriptionDeliveryInfo"|trans|sw_sanitize }} 
							{% else %}
								{{ "NovalnetSubscription.text.subscriptionDeliveryFreeTrialInfo"|trans({
										'%freeTrial%': novalnetSettings.freeTrial,
										'%freeTrialPeriod%': "NovalnetSubscription.text.#{novalnetSettings.freeTrialPeriod|lower}"|trans|sw_sanitize,
										})|sw_sanitize }}
							{% endif %} 
							<span class="subs--info-additional-following"> 
								{% if novalnetSettings.subscriptionLength != '0' %} {{ balanceAmount }} {% endif %} 
							</span> {{ "NovalnetSubscription.text.subscriptionDeliveryInfo2"|trans|sw_sanitize }}
						</span>
					</div>
				</div>
				
                 <div class="row g-2 buy-widget-container"> 
                        {% block page_product_detail_buy_subs_quantity_container %}
                            <div class="col-4">
								{% block page_product_detail_buy_quantity_input_group %}
                                        <div class="input-group product-detail-quantity-group quantity-selector-group novalnet-subscription-quantity-selector" data-quantity-selector="true" >
                                            {% block page_product_detail_buy_quantity_input %}
                                                <button type="button" class="btn btn-outline-light btn-minus js-btn-minus">
                                                    {% sw_icon 'minus' style {'size': 'xs'} %}
                                                </button>
                                                <input
                                                    type="number"
                                                    name="lineItems[{{ product.id }}][quantity]"
                                                    class="form-control js-quantity-selector quantity-selector-group-input product-detail-quantity-input"
                                                    min="{{ product.minPurchase }}"
                                                    max="{{ product.calculatedMaxPurchase }}"
                                                    step="{{ product.purchaseSteps }}"
                                                    value="{{ product.minPurchase }}"
                                                />
                                                <button type="button" class="btn btn-outline-light btn-plus js-btn-plus">
                                                    {% sw_icon 'plus' style {'size': 'xs'}  %}
                                                </button>
                                            {% endblock %}
                                            {% block page_product_detail_buy_quantity_input_unit %}
                                                {% if product.translated.packUnit %}
                                                    <span class="input-group-text">
                                                        {% if product.minPurchase > 1 and product.translated.packUnitPlural %}
                                                            {{ product.translated.packUnitPlural }}
                                                        {% elseif product.translated.packUnit %}
                                                            {{ product.translated.packUnit }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                
                            
                            </div>
                        {% endblock %}
                        {% block page_product_detail_buy_subs_redirect_input %}
                            {# fallback redirect back to detail page is deactivated via js #}
                            <input type="hidden"
                                   name="redirectTo"
                                   value="frontend.detail.page">

                            <input type="hidden"
                                   name="redirectParameters"
                                   data-redirect-parameters="true"
                                   value='{"productId": "{{ product.id }}"}'>
                        {% endblock %}

                        {% block page_product_detail_buy_subs_product_buy_info %}
                            <input type="hidden"
								   class="SubscriptionLineItemProductId"
                                   name="lineItems[{{ product.id }}][id]"
                                   value="{{ product.id }}_{{ novalnetSettings.interval }}_{{ novalnetSettings.subscriptionLength }}">
                            <input type="hidden"
                                   name="lineItems[{{ product.id }}][type]"
                                   value="product">
                            <input type="hidden"
                                   name="lineItems[{{ product.id }}][referencedId]"
                                   value="{{ product.id }}">
                            <input type="hidden"
                                   name="lineItems[{{ product.id }}][stackable]"
                                   value="1">
                            <input type="hidden"
                                   name="lineItems[{{ product.id }}][removable]"
                                   value="1">
                            <input type="hidden" 
								   name="subscriptionData" 
								   value="{{ novalnetSettings|json_encode }}">
                        {% endblock %}
                        {% block page_product_detail_buy_subs_button_container %}
                            <div class="col-8">
								<div class="d-grid">
                                {% block page_product_detail_buy_subs_button %}
									{% set activeSubscriptionCount = context|getActiveSubscription %}
									<button class="btn btn-primary btn-block btn-buy"
                                        title="{{ "NovalnetSubscription.text.addToCartButtonProductPage"|trans|striptags }}"
                                        aria-label="{{ "NovalnetSubscription.text.addToCartButtonProductPage"|trans|striptags }}"
                                       id = "novalnetaddsubscription"
                                       {% if activeSubscriptionCount is empty and config('NovalnetSubscription.config.restrictMultipleOrders') == 1 %} disabled="disabled"{% endif %}>
										{{ "NovalnetSubscription.text.addToCartButtonProductPage"|trans|sw_sanitize }}
									</button>
									{% if activeSubscriptionCount is empty and config('NovalnetSubscription.config.restrictMultipleOrders') == 1 %}
										<span style="color:red;">{{ "NovalnetSubscription.text.restrictButtonMsg"|trans|sw_sanitize }}</span>
									{% endif %}
                                {% endblock %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
            {% endblock %}
            <input type="hidden" id="nnProductId" name="nnProductId" value="{{ product.id }}" />
            <input type="hidden" id="years" name="years" value="{{ "NovalnetSubscription.text.operationalYears"|trans|sw_sanitize }}" />
            <input type="hidden" id="months" name="months" value="{{ "NovalnetSubscription.text.operationalMonths"|trans|sw_sanitize }}" />
            <input type="hidden" id="weeks" name="weeks" value="{{ "NovalnetSubscription.text.operationalWeeks"|trans|sw_sanitize }}" />
            <input type="hidden" id="days" name="days" value="{{ "NovalnetSubscription.text.operationalDays"|trans|sw_sanitize }}" />
            <input type="hidden" id="cycleduration" name="cycleduration" value="{{ "NovalnetSubscription.text.discountNoticeAll"|trans|sw_sanitize }}" />
            <input type="hidden" id="currency" name="currency" value="{{ page.header.activeCurrency.symbol }}" />
        </form>
    </div>
</div>
{% endblock %}
