{% block component_pagination_href_nav %}
    {% set currentPage = ((criteria.offset + 1) / criteria.limit )|round(0, 'ceil') %}
    {% set totalPages = (entities.total / criteria.limit)|round(0, 'ceil') %}
    {% if totalPages == 0 %}
        {% set totalPages = 1 %}
    {% endif %}

    <nav aria-label="pagination" class="pagination-nav">
        {% block component_pagination_href %}
            <ul class="pagination">
                {% block component_pagination_href_first %}
                    <li class="page-item page-first{% if currentPage == 1 %} disabled{% endif %}">
                        {% block component_pagination_href_first_input %}
                            <input type="radio"
                                   {% if currentPage == 1 %}disabled="disabled"{% endif %}
                                   name="p"
                                   id="p-first"
                                   value="1"
                                   class="d-none"
                                   title="pagination">
                        {% endblock %}

                        {% block component_pagination_href_first_label %}
                            <label class="page-link" for="p-first">
                                {% block component_pagination_href_first_link %}
                                    <a href="{{ url(basePath, {p: 1}) }}">
                                        {% sw_icon 'arrow-medium-double-left' style { 'size': 'fluid', 'pack': 'solid'} %}
                                    </a>
                                {% endblock %}
                            </label>
                        {% endblock %}
                    </li>
                {% endblock %}

                {% block component_pagination_href_prev %}
                    <li class="page-item page-prev{% if currentPage == 1 %} disabled{% endif %}">
                        {% block component_pagination_href_prev_input %}
                            <input type="radio"
                                   {% if currentPage == 1 %}disabled="disabled"{% endif %}
                                   name="p"
                                   id="p-prev"
                                   value="{{ currentPage - 1 }}"
                                   class="d-none"
                                   title="pagination">
                        {% endblock %}

                        {% block component_pagination_href_prev_label %}
                            <label class="page-link" for="p-prev">
                                {% block component_pagination_href_prev_link %}
                                    {% block component_pagination_href_prev_icon %}
                                        <a href="{{ url(basePath, {p: currentPage-1}) }}">
                                            {% sw_icon 'arrow-medium-left' style {'size': 'fluid', 'pack': 'solid'} %}
                                        </a>
                                    {% endblock %}
                                {% endblock %}
                            </label>
                        {% endblock %}
                    </li>
                {% endblock %}

                {% block component_pagination_href_loop %}
                    {% set start = currentPage - 2 %}
                    {% if start <= 0 %}
                        {% set start = currentPage - 1 %}
                        {% if start <= 0 %}
                            {% set start = currentPage %}
                        {% endif %}
                    {% endif %}

                    {% set end = start + 4 %}

                    {% if end > totalPages %}
                        {% set end = totalPages %}
                    {% endif %}

                    {% for page in start..end %}

                        {% set isActive = (currentPage == page) %}

                        {% block component_pagination_href_item %}
                            <li class="page-item{% if isActive %} active{% endif %}">
                                {% block component_pagination_href_item_input %}
                                    <input type="radio"
                                           name="p"
                                           id="p{{ page }}"
                                           value="{{ page }}"
                                           class="d-none"
                                           title="pagination"
                                           {% if isActive %}checked="checked"{% endif %}>
                                {% endblock %}

                                {% block component_pagination_href_item_label %}
                                    <input type="hidden" id="pageUrl" value="{{ url(basePath) }}">
                                    <label class="page-link"
                                           for="p{{ page }}" onclick="changePage({{ page }})">
                                        {% block component_pagination_href_item_link %}
                                            {% block component_pagination_href_item_text %}
                                                <a {% if isActive %} style="color: white"{% endif %} href="{{ url(basePath, {p: page}) }}">
                                                    {{ page }}
                                                </a>
                                            {% endblock %}
                                        {% endblock %}
                                    </label>
                                {% endblock %}
                            </li>
                        {% endblock %}

                    {% endfor %}
                {% endblock %}

                {% block component_pagination_href_next %}
                    <li class="page-item page-next{% if currentPage == totalPages %} disabled{% endif %}">
                        {% block component_pagination_href_next_input %}
                            <input type="radio"
                                   {% if currentPage == totalPages %}disabled="disabled"{% endif %}
                                   name="p"
                                   id="p-next"
                                   value="{{ currentPage + 1 }}"
                                   class="d-none"
                                   title="pagination">
                        {% endblock %}

                        {% block component_pagination_href_next_label %}
                            <label class="page-link" for="p-next">
                                {% block component_pagination_href_next_link %}
                                    {% block component_pagination_href_next_icon %}
                                        <a href="{{ url(basePath, {p: currentPage+1}) }}">
											{% sw_icon 'arrow-medium-right' style {'size': 'fluid', 'pack': 'solid'} %}
                                        </a>
                                    {% endblock %}
                                {% endblock %}
                            </label>
                        {% endblock %}
                    </li>
                {% endblock %}

                {% block component_pagination_href_last %}
                    <li class="page-item page-last{% if currentPage == totalPages %} disabled{% endif %}">
                        {% block component_pagination_href_last_input %}
                            <input type="radio"
                                   {% if currentPage == totalPages %}disabled="disabled"{% endif %}
                                   name="p"
                                   id="p-last"
                                   value="{{ totalPages }}"
                                   class="d-none"
                                   title="pagination">
                        {% endblock %}

                        {% block component_pagination_href_last_label %}
                            <label class="page-link" for="p-last">
                                {% block component_pagination_href_last_link %}
                                    {% block component_pagination_href_last_icon %}
                                        <a href="{{ url(basePath, {p: totalPages}) }}">
                                            {% sw_icon 'arrow-medium-double-right' style {
                                                'size': 'fluid',
                                                'pack': 'solid'
                                            } %}
                                        </a>
                                    {% endblock %}
                                {% endblock %}
                            </label>
                        {% endblock %}
                    </li>
                {% endblock %}
            </ul>
        {% endblock %}
    </nav>
{% endblock %}
