{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_flashbags %}
	{% set displayMixedCartError = 0 %}
	{% set productCount = 0 %}
	{% set isSubscriptionAvailable = 0 %}
	
	{% for lineItem in page.cart.lineItems %}
		{% if lineItem.type == 'product' %}
				{% set productCount = productCount + 1 %}
		{% endif %}
		
		{% if lineItem.extensions.novalnetConfiguration is not empty %}
			{% set isSubscriptionAvailable = 1 %}
		{% endif %}
		
		{% if isSubscriptionAvailable == 1 and config('NovalnetSubscription.config.mixedCheckout') is empty and productCount > 1  %}
			{% set displayMixedCartError = 1 %}
		{% endif %}
	{% endfor %}
	
	{% if displayMixedCartError == 1 %}
		<div role="alert" class="alert alert-info alert-has-icon">
			<span class="icon icon-info">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#758CA3" fill-rule="evenodd" d="M12 7c.5523 0 1 .4477 1 1s-.4477 1-1 1-1-.4477-1-1 .4477-1 1-1zm1 9c0 .5523-.4477 1-1 1s-1-.4477-1-1v-5c0-.5523.4477-1 1-1s1 .4477 1 1v5zm11-4c0 6.6274-5.3726 12-12 12S0 18.6274 0 12 5.3726 0 12 0s12 5.3726 12 12zM12 2C6.4772 2 2 6.4772 2 12s4.4772 10 10 10 10-4.4772 10-10S17.5228 2 12 2z"></path></svg>
			</span>
			<div class="alert-content-container">
				<div class="alert-content">
					{{ "NovalnetSubscription.text.mixedCheckoutNotSupported"|trans|sw_sanitize }}
				</div>
			</div>
		</div>
	{% endif %}
    {{ parent() }}
{% endblock %}

{% block component_offcanvas_cart_actions_checkout %}
	{% set subsDisabled = 0 %}
	{% set productCount = 0 %}
	{% set isSubscriptionAvailable = 0 %}
	{% set path = path('frontend.checkout.confirm.page') %}
	
	{% if page.extensions.novalnetConfiguration.all is not null %}
		{% for lineItem in page.cart.lineItems %}
			{% if lineItem.type == 'product' %}
				{% set productCount = productCount + 1 %}
			{% endif %}
			
			{% if lineItem.extensions.novalnetConfiguration is not empty %}
				{% set isSubscriptionAvailable = 1 %}
			{% endif %}
			
			{% if isSubscriptionAvailable == 1 and config('NovalnetSubscription.config.mixedCheckout') is empty and productCount > 1 %}
				{% set subsDisabled = 1 %}
			{% endif %}
		{% endfor %}
			<div class="d-grid">
				<a href="{{ path }}"
					class="btn btn-block begin-checkout-btn{% if isCartNotEmpty and subsDisabled == 0 %} btn-primary {% else %} btn-light disabled{% endif %}"
					title="{{ "checkout.proceedToCheckout"|trans|striptags }}"
					>
					{{ "checkout.proceedToCheckout"|trans|striptags }}
				</a>
			</div>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
