{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
  {% set abo = page.abo %}
  {% set subsOrder = abo.subsOrders.elements|last %}
  {% set paymentMethod = abo.payment_method %}
 
    {% block novalnet_account_heading %}
        <div class="row flex-wrap">
            <h3 class="col-auto order-table-header-heading">{{ "NovalnetSubscription.text.subscriptionHeadline"|trans|sw_sanitize }} #{{ abo.subsNumber }}</h3>
            <div class="col-12 col-sm">
                <span class="badge badge-lg order-item-status-badge novalnet-status-badge abo-order-item-status-badge-{{ abo.status|lower }}">
                <strong>{{ "NovalnetSubscription.status.#{abo.status|lower}"|trans|sw_sanitize }}</strong>
                </span>
                
                {% if config('NovalnetSubscription.config.customerCancelOption') is not empty and abo.status|lower != 'invalid' and abo.status|lower != 'cancelled' and abo.status|lower != 'expired' and abo.status|lower != 'pending_cancel' and abo.status|lower != 'failed' %}
					<button type="button"
							class="btn btn-outline-danger btn-sm"
							style="float: right;margin: 0px 5px;"
							data-bs-toggle="modal"
							data-bs-target="#cancelModalBox">
						{{ "NovalnetSubscription.text.cancelButton"|trans|sw_sanitize }}
					</button>
				{% endif %}
				
                
                {% if config('NovalnetSubscription.config.cycleSuspend') == 1 and abo.status != "SUSPENDED" and abo.status == "ACTIVE" %}
					<button type="button"
							class="btn btn-sm btn-primary"
							style="float: right;"
							data-bs-toggle="modal"
							data-bs-target="#suspendModalBox">
						{{ "NovalnetSubscription.text.suspend"|trans|sw_sanitize }}
					</button>
				{% endif %}
				{% if config('NovalnetSubscription.config.cycleSuspend') == 1 and abo.status == "SUSPENDED" %}
					<button type="button"
							class="btn btn-sm btn-primary"
							style="float: right;"
							data-bs-toggle="modal"
							data-bs-target="#aboId-{{ abo.id }}">
						{{ "NovalnetSubscription.text.reactive"|trans|sw_sanitize }}
					</button>
				{% endif %}
            </div>
        </div>
    {% endblock %}
    
    {% block novalnet_account_main_body_content %}
        <div class="row mt-4">
            <div class="col-sm-6 card-col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">{{ "NovalnetSubscription.text.billingAddressLabel"|trans|sw_sanitize }}</div>
                        <div class="card-text">
                            {% for address in abo.order.addresses %}
                                {% if address.id == abo.order.billingAddressId %}
                                    <address>
                                        <span class="name">{{ address.firstName }} {{ address.lastName }}</span><br>
                                        {{ address.street }}<br>
                                        {{ address.zipcode }} {{ address.city }}<br>
                                        {{ address.country.translated.name }}
                                    </address>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 card-col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">{{ "NovalnetSubscription.text.shippingAddressLabel"|trans|sw_sanitize }}</div>
                        <div class="card-text">
                            {% for delivery in abo.order.deliveries %}
                                {% set address = delivery.shippingOrderAddress %}
                                <address>
                                    <span class="name">{{ address.firstName }} {{ address.lastName }}</span><br>
                                    {{ address.street }}<br>
                                    {{ address.zipcode }} {{ address.city }}<br>
                                    {{ address.country.translated.name }}
                                </address>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-wrap">
            <div class="col-sm-6 card-col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">{{ "NovalnetSubscription.text.subscriptionDetailsLabel"|trans|sw_sanitize }}</div>
                        <div class="card-text">
                            <dl>
                                <dt>{{ "NovalnetSubscription.text.billingPeriod"|trans|sw_sanitize }}</dt>
                                <dd>{% if abo.length != 0 %}
									{{ "NovalnetSubscription.text.limitedRecurring"|trans({
										'%length%': abo.length,
										'%interval%': abo.interval,
										'%unit%': "NovalnetSubscription.text.#{abo.unit|lower}"|trans|sw_sanitize,
										})|sw_sanitize }}
									{% else %}
										{{ "NovalnetSubscription.text.unlimitedRecurring"|trans({
										'%interval%': abo.interval,
										'%unit%': "NovalnetSubscription.text.#{abo.unit|lower}"|trans|sw_sanitize,
										})|sw_sanitize }}
									{% endif %}
								</dd>
								
                                <dt>{{ "NovalnetSubscription.text.trialPeriod"|trans|sw_sanitize }}</dt>
                                <dd>{% if abo.trialInterval != 0 and abo.trialInterval is not empty %} {{ abo.trialInterval }} {{ "NovalnetSubscription.text.#{abo.trialUnit|lower}"|trans|sw_sanitize }} {% else %} NIL {% endif %} </dd>
                                <dt>{{ "NovalnetSubscription.text.recurringAmount"|trans|sw_sanitize }}</dt>
                                <dd>{{ abo.amount|currency(abo.order.currency.isoCode) }} {% if abo.shippingCalculateOnce == false %}+ {{ "NovalnetSubscription.text.shippingCost"|trans|sw_sanitize }}{% endif %}</dd>
                                {% if abo.status == 'SUSPENDED' %}
                                    <dt>{{ "NovalnetSubscription.text.suspendedDate"|trans|sw_sanitize }}</dt>
                                    <dd>{{ abo.terminationDate|format_date('medium', locale=app.request.locale) }}</dd>
                                {% endif %}
                                {% if abo.status == 'CANCELLED' %}
                                    <dt>{{ "NovalnetSubscription.text.canceledDate"|trans|sw_sanitize }}</dt>
                                    <dd>{{ abo.cancelledAt|format_date('medium', locale=app.request.locale) }}</dd>
                                {% endif %}
                                <dt> {{ "NovalnetSubscription.text.currentPayment"|trans|sw_sanitize }} </dt>
                                <dd> {% block novalnet_account_main_body_payment_content %} {{ paymentMethod.translated.name ?? paymentMethod.name }} {% endblock %}
									{% if config('NovalnetSubscription.config.changePaymentMethod') == 1 and abo.status == 'ACTIVE' %}
										&nbsp;<span class="novalnet-change-payment-method-icon" title="{{ "NovalnetSubscription.text.changePayment"|trans|sw_sanitize }}" data-bs-toggle="modal" class="btn btn-sm btn-primary change-payment-method" data-bs-target="#changePaymentModalBox">{% sw_icon 'pencil' style { 'pack': 'solid', 'size': 'xs' } %}</span>
									{% endif %}
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 card-col">
                <div class="card">
                    {% set count = 0 %}
                    {% for subsOrder in abo.subsOrders %}
                        {% if subsOrder.orderId is not null and subsOrder.cycles > 0 %}
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                    <div class="card-body">
                        <div class="card-title">{{ "NovalnetSubscription.text.subscriptionInfo"|trans|sw_sanitize }}</div>
                        <div class="card-text">
                            <dl>
								<dt>{{ "NovalnetSubscription.text.currentBilling"|trans|sw_sanitize }}</dt>
                                <dd>{{ count }}</dd>
                                
                                {% if  abo.length == 0  or abo.length != count %}
                                    <dt>{{ "NovalnetSubscription.text.remainingBilling"|trans|sw_sanitize }}</dt>
                                    <dd>{% if abo.length == 0 %} {{ "NovalnetSubscription.text.untilCancelled"|trans|sw_sanitize }} {% else %} {{ abo.length - count }} {% endif %}</dd>
                                {% endif %}
                                
                                {% if abo.status != 'CANCELLED' and abo.status != 'PENDING_CANCEL' and abo.status != 'FAILED' %}
                                    <dt>{{ "NovalnetSubscription.text.nextDeliveryDate"|trans|sw_sanitize }}</dt>
                                    <dd>{{ abo.nextDate|format_date('medium', locale=app.request.locale) }}
										{% if config('NovalnetSubscription.config.nextCycleDate') == 1 and abo.status == 'ACTIVE' %}
											&nbsp;<span class="novalnet-cycle-date-change-icon" title="{{ "NovalnetSubscription.text.cycleDateChange"|trans|sw_sanitize }}" data-bs-toggle="modal" class="btn btn-sm btn-primary cycle-date-change" data-bs-target="#dateChangeModalBox">{% sw_icon 'pencil' style { 'pack': 'solid', 'size': 'xs' } %}</span>
										{% endif %}
                                    </dd>
                                {% endif %}
                                {% if abo.status == 'PENDING_CANCEL'  %}
                                    <dt>{{ "NovalnetSubscription.text.expired"|trans|sw_sanitize }}</dt>
                                    <dd>{{ "NovalnetSubscription.text.expiredate"|trans({'%expiredAt%': abo.endingAt|format_date('medium', locale=app.request.locale)})|sw_sanitize }}</dd>
                                {% endif %}
                                {% if abo.status == 'SUSPENDED' and abo.cancelReason is not empty %}
                                    <dt>{{ "NovalnetSubscription.text.suspendedReason"|trans|sw_sanitize }}</dt>
                                    <dd>{{ abo.cancelReason }}</dd>
                                {% endif %}
                                {% if abo.status == 'CANCELLED' %}
                                    <dt>{{ "NovalnetSubscription.text.canceledReason"|trans|sw_sanitize }}</dt>
                                    <dd>{% if abo.cancelReason != '' %} {{ abo.cancelReason }} {% else %} NIL {% endif %}</dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        
        {% block novalnet_account_main_body_content_product_info %}
            <div class="row">
                <div class="col-12 card-col">
                    <div class="card-body">
                        <div id="productTableTitle" class="card-title">{{ "NovalnetSubscription.text.productInfoLabel"|trans|sw_sanitize }}</div>
                        <div class="card-text">
                            <table aria-describedby="productTableTitle" class="table table-striped table-responsive-md">
                                <thead>
                                <tr class="text-center" style="display: table-row;text-align: center !important;">
                                    <th>{{ "NovalnetSubscription.text.productPosition"|trans|sw_sanitize }}</th>
                                    <th>{{ "NovalnetSubscription.text.productLabel"|trans|sw_sanitize }}</th>
                                    <th>{{ "NovalnetSubscription.text.productQuantity"|trans|sw_sanitize }}</th>
                                    <th>{{ "NovalnetSubscription.text.productPrice"|trans|sw_sanitize }}</th>
                                    <th>{{ "NovalnetSubscription.text.productTotalPrice"|trans|sw_sanitize }}</th>
                                    {% if config('NovalnetSubscription.config.changeProductQuantity') == 1 and abo.status == 'ACTIVE' %}
                                        <th>{{ "NovalnetSubscription.text.subscriptionAction"|trans|sw_sanitize }}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
									{% set i = 1 %}{% set variantName = '' %}
                                    {% if abo.product %}
										{% set url = abo.product.id ? seoUrl('frontend.detail.page', {'productId': abo.product.id }) : '#not-found' %}
										{% if  abo.product.options is not empty %}
											{% set variantName = variantName ~ '( ' %}
											{% for option in abo.product.options|sort((a, b) => a.createdAt <=> b.createdAt) %}
												{% set variantName = variantName ~ (option.group.name ? option.group.name : option.group.translated.name) ~ ': ' ~ (option.name ? option.name : option.translated.name) ~ ' | ' %}
											{% endfor %}
											{% set variantName = variantName|slice(0, -3) %}
											{% set variantName = variantName ~ ' )' %}
										{% endif %}
										
										<tr class="text-center" style="display: table-row;text-align: center !important;">
											<td>{{ i }}</td>
											<td><a href="{{ url }}">{{ abo.product.translated.name }} {{ variantName }}</a></td>
											<td>{{ abo.quantity }}</td>
											<td>{{ abo.product.price|first.gross|currency(abo.order.currency.isoCode) }}</td>
											<td>{{ (abo.product.price|first.gross * abo.quantity)|currency(abo.order.currency.isoCode) }}</td>
											{% if config('NovalnetSubscription.config.changeProductQuantity') == 1 and abo.status == 'ACTIVE' %}
												<td>
													<button type="button"
															class="btn btn-sm btn-primary"
															data-bs-toggle="modal"
															data-bs-target="#productEditModalBox">
														{{ "NovalnetSubscription.text.subscriptionEditProduct"|trans|sw_sanitize }}
													</button>
												</td>
											{% endif %}
										</tr>
									{% else %}
										{% for item in abo.order.lineitems %}
											{% set url = item.referencedId ? seoUrl('frontend.detail.page', {'productId': item.referencedId }) : '#not-found' %}
											{% if item.id == abo.lineItemId and i == 1 %}
												<tr class="text-center" style="display: table-row;text-align: center !important;">
													<td>{{ i }}</td>
													<td><a href="{{ url }}">{{ item.label }}</a></td>
													<td>{{ item.quantity }}</td>
													<td>{{ abo.amount|currency(abo.order.currency.isoCode) }}</td>
													<td>{{ abo.amount|currency(abo.order.currency.isoCode) }}</td>
													{% if config('NovalnetSubscription.config.changeProductQuantity') == 1 and abo.status == 'ACTIVE' %}
													<td>
														<button type="button"
																class="btn btn-sm btn-primary"
																data-bs-toggle="modal"
																data-bs-target="#productEditModalBox">
															{{ "NovalnetSubscription.text.subscriptionEditProduct"|trans|sw_sanitize }}
														</button>
													</td>
													{% endif %}
												</tr>
												{% set i = i+1 %}
											{% endif %}
										{% endfor %}
									{% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        
        {% block novalnet_account_main_body_content_order_info %}
        {% set status = '' %}
        {% set paymentName = '' %}
            <div class="row">
                <div class="col-12 card-col">
                    <div class="card-body">
                        <div id="orderTableTitle" class="card-title">{{ "NovalnetSubscription.text.orderInfoLabel"|trans|sw_sanitize }}</div>
                        <div class="card-text">
                            <table aria-describedby="orderTableTitle" class="table table-striped table-responsive-md">
                                <thead>
                                    <tr class="text-center" style="display: table-row;text-align: center !important;">
                                        <th>{{ "NovalnetSubscription.text.orderNumber"|trans|sw_sanitize }}</th>
                                        <th>{{ "NovalnetSubscription.text.orderDate"|trans|sw_sanitize }}</th>
                                        <th>{{ "NovalnetSubscription.text.orderPaymentStatus"|trans|sw_sanitize }}</th>
                                        <th>{{ "NovalnetSubscription.text.orderPaymentMethod"|trans|sw_sanitize }}</th>
                                        <th>{{ "NovalnetSubscription.text.orderTotal"|trans|sw_sanitize }}</th>
                                        <th></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                {% for subCycle in page.entities|sort((a, b) => a.cycles <=> b.cycles) %}
                                    {% if subCycle.order is not empty and subCycle.order.orderNumber is not empty %}
                                        <tr class="text-center" style="display: table-row;text-align: center !important;">
                                            <td class="align-middle">
												<a href="{{ path('frontend.account.order.single.page', {deepLinkCode: subCycle.order.deepLinkCode }) }}">{{ subCycle.order.orderNumber }}</a>
                                            </td>
                                           
                                            <td class="align-middle">{{ subCycle.order.createdAt|format_date('long', locale=app.request.locale) }}</a></td>
                                            {% for transaction in subCycle.order.transactions|sort((a, b) => a.createdAt <=> b.createdAt) %}
												{% set status = transaction.stateMachineState.translated.name  %}
												{% set paymentName = transaction.paymentMethod.name %}
                                            {% endfor %}
                                            <td class="align-middle"> {{ status }} </td>
											<td class="align-middle"> {% block novalnet_account_main_body_content_order_payment_info %} {{ paymentName }} {% endblock %}</td>
                                            <td class="align-middle">
												{{ subCycle.order.amountTotal|currency(abo.order.currency.isoCode) }}
                                            </td>
                                            <td>
												<form action="{{ path('frontend.account.order.single.page', {'deepLinkCode': subCycle.order.deepLinkCode}) }}" data-form-csrf-handler="true" method="post">
													<button class="btn btn-sm btn-primary subscription-single-order">{{ "NovalnetSubscription.text.detailButton"|trans|sw_sanitize }}</button>
												</form> 
											</td> 
											
											
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if page.lastExecutedOrders.count > 6 %}
								{% sw_include '@NovalnetSubscription/storefront/page/account/novalnet-subscription/pagination-href.html.twig' with {
									abo: page.abo,
									entities: page.entities,
									criteria: page.criteria,
									basePath: 'frontend.novalnet.subscription.orders.detail'
								} %}
							{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <script>
				function changePage(page)
				{
					var URL = document.getElementById('pageUrl').value;
					window.location.href = URL + '?p=' + page;
				}
			</script>
        {% endblock %}
        
        {% block page_account_suspend_modal %}
			{% sw_include '@Storefront/storefront/page/account/novalnet-subscription/suspend-modal.html.twig' %}
		{% endblock %}
		
		{% block page_account_edit_product_modal %}
			{% sw_include '@Storefront/storefront/page/account/novalnet-subscription/edit-product-modal.html.twig' %}
		{% endblock %}
		
		{% block page_account_cancel_modal %}
			{% sw_include '@Storefront/storefront/page/account/novalnet-subscription/cancel-modal.html.twig' %}
		{% endblock %}

		{% block page_account_reactive_modal %}
			{% sw_include '@Storefront/storefront/page/account/novalnet-subscription/reactive-modal.html.twig' %}
		{% endblock %}
		
		{% block page_account_date_change_modal %}
			{% sw_include '@Storefront/storefront/page/account/novalnet-subscription/date-change-modal.html.twig' %}
		{% endblock %}
		
		{% block page_account_change_payment_modal %}
			{% sw_include '@Storefront/storefront/page/account/novalnet-subscription/changepayment-modal.html.twig' %}
		{% endblock %}

{% endblock %}
