<div class="modal fade"
	 id="productEditModalBox"
	 tabindex="-1"
	 role="dialog"
	 aria-hidden="true">

	{% block page_account_product_edit_modal_dialog %}
		<div class="modal-dialog modal-lg" role="dialog">
			{% block page_account_product_edit_modal_content %}
				<div class="modal-content">
					{% block page_account_product_edit_modal_header %}
						<div class="modal-header">
							{% block page_account_product_edit_modal_header_title %}
									{% if page.products is not empty %}
										<h5 class="modal-title">{{ "NovalnetSubscription.text.switchProductSubscription"|trans|sw_sanitize }}</h5>
									{% else %}
										<h5 class="modal-title">{{ "NovalnetSubscription.text.editProductSubscription"|trans|sw_sanitize }}</h5>
									{% endif %}
							{% endblock %}
							{% block page_account_product_edit_modal_header_close_button %}
								<button class="btn-close close"
										type="button"
										data-bs-dismiss="modal"
										aria-label="Close">
								</button>
							{% endblock %}
						</div>
					{% endblock %}

					{% block page_account_product_edit_modal_body %}
						{% if page.products is not empty %}
							<form  action="{{ path('frontend.novalnet.subscription.switchSubscription', {'aboId': abo.id}) }}" data-form-csrf-handler="true" method="post">
						{% else %}
							<form  action="{{ path('frontend.novalnet.subscription.changeQuantity', {'aboId': abo.id}) }}" data-form-csrf-handler="true" method="post">
						{% endif %}
							<div class="modal-body pb-0">
								<div class="form-content">
									{% if page.products is not empty %}
										<div class="row">
											<div class="form-group col-md-12">
												<label for="cancelReason" style="font-weight: 700;">{{ "NovalnetSubscription.text.productLabel"|trans|striptags }}*</label>
												<select name="productId" id="productId" class="form-select product-detail-configurator-select-input">
													{% for product in page.products|sort((a, b) => a.createdAt <=> b.createdAt) %}

														{% set selected = false %} {% set variantName = '' %}

														{% if product.id == page.abo.productId %}
															{% set selected = true %}
														{% endif %}
														
														{% if product.options is not empty %}
															{% set variantName = variantName ~ '( ' %}
															{% for option in product.options|sort((a, b) => a.createdAt <=> b.createdAt) %}
																{% set variantName = variantName ~ (option.group.name ? option.group.name : option.group.translated.name) ~ ': ' ~ (option.name ? option.name : option.translated.name) ~ ' | ' %}
															{% endfor %}
															{% set variantName = variantName|slice(0, -3) %}
															{% set variantName = variantName ~ ' )' %}
                                                        {% endif %}

														{% block page_product_detail_configurator_select_option %}
															<option value="{{ product.id }}"{% if selected %} selected="selected"{% endif %}>
																{% set novalnetConfiguration = product.extensions.novalnetConfiguration %}
																{% if novalnetConfiguration is not null and novalnetConfiguration.displayName is not empty %}
																	{{ novalnetConfiguration.displayName|trim }}
																{% else %}
																	{{ product.translated.name ? product.translated.name : product.name }} {{ variantName }}
																{% endif %}
															</option>
														{% endblock %}
													{% endfor %}
												</select>
											</div>
										</div>
									{% endif %}
									<div class="row">
										<div class="form-group col-md-12">
											<label for="cancelReason" style="font-weight: 700;">{{ "NovalnetSubscription.text.productQuantity"|trans|striptags }}</label>
											<input type="number" 
												id="quantity"
												name="quantity"
												class="form-control"
												min="1"
												required="required"
												value="{{ abo.quantity }}"
												placeholder="{{ "NovalnetSubscription.text.productQuantity"|trans|striptags }}">
										</div>
									</div>
								</div>
							</div>
					{% endblock %}

					{% block page_account_product_edit_modal_footer %}
							<div class="modal-footer pt-0">
								{% block page_account_product_edit_modal_footer_form %}
									<form action="{{ path('frontend.novalnet.subscription.active.cycle', {'aboId': abo.id}) }}" data-form-csrf-handler="true" method="post" style="float:right">
										{% block page_checkout_aside_cancel_order_modal_header_back_button %}
											<button class="btn btn-outline-secondary"
													type="button"
													data-bs-dismiss="modal">
												{{ "NovalnetSubscription.text.closeButton"|trans|sw_sanitize }}
											</button>
										{% endblock %}

										{% block page_account_product_edit_modal_footer_form_button %}
											<button type="submit"
													class="btn btn-sm btn-primary">
												{{ "NovalnetSubscription.text.confirmButton"|trans|sw_sanitize }}
											</button>
										{% endblock %}
									</form>
								{% endblock %}
								
							</div>
						</form>
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	{% endblock %}
</div>
