{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
	<div class="account-subscription-orders">
		<div class="account-welcome">
				<h1>{{ "NovalnetSubscription.text.subscriptionLabel"|trans|sw_sanitize }}</h1>
				<p>{{ "account.ordersWelcome"|trans|sw_sanitize }}</p>
		</div>
		{% if page.abos.total == 0 %}
			{% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
				type: 'info',
				content: ("NovalnetSubscription.text.noSubscriptionsMessage"|trans|sw_sanitize)
			} %}
		{% else %}
			<table class="table table-striped table-responsive-md">
				<caption style="display:none;">Subscription List</caption>
				<thead>
				<tr class="text-center" style="display: table-row;text-align: center !important;">
					<th>{{ "NovalnetSubscription.text.createdOn"|trans|sw_sanitize }}</th>
					<th>{{ "NovalnetSubscription.text.subscriptionNumber"|trans|sw_sanitize }}</th>
					<th>{{ "NovalnetSubscription.text.subscriptionStatus"|trans|sw_sanitize }}</th>
					<th>{{ "NovalnetSubscription.text.deliveryInterval"|trans|sw_sanitize }}</th>
					<th>{{ "NovalnetSubscription.text.expiryData"|trans|sw_sanitize }}</th>
					<th>{{ "NovalnetSubscription.text.subscriptionAction"|trans|sw_sanitize }}</th>
				</tr>
				</thead>
				<tbody>
				{% for abo in page.abos %}
				{% set subsOrder = abo.subsOrders.elements|last %}
					{% if abo.status != 'PENDING' %}
						<tr class="text-center" style="display: table-row;text-align: center !important;">
							<td class="align-middle">
								{{ abo.createdAt|format_date('short', locale=app.request.locale) }}
							</td>
							<td class="align-middle">
								<strong><a href="{{ path('frontend.novalnet.subscription.orders.detail', {aboId: abo.id}) }}">{{ abo.subsNumber }}</a></strong>
							</td>
							<td class="align-middle">
								<span class="novalnet-status-badge abo-order-item-status-badge-{{ abo.status|lower }}">
									<strong>{{ "NovalnetSubscription.status.#{abo.status|lower}"|trans({'%expiredAt%': abo.nextDate|format_date('medium', locale=app.request.locale)})|sw_sanitize }}</strong>
								</span>
							</td>
							<td class="align-middle">
								{{ abo.interval }} {{ "NovalnetSubscription.text.#{abo.unit|lower}"|trans|sw_sanitize }}
							</td>
							<td class="align-middle">{% if abo.length != 0 %}{{ abo.endingAt|format_date('medium', locale=app.request.locale) }}{% else %}{{ 'NovalnetSubscription.text.untilCancelled'|trans|sw_sanitize }}{% endif %}
							</td>
							<td class="align-middle">
								<a href="{{ path('frontend.novalnet.subscription.orders.detail', {aboId: abo.id}) }}" class="btn btn-sm btn-primary">{{ "NovalnetSubscription.text.detailButton"|trans|sw_sanitize }}</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>
			{% if page.abos.total > 10 %}
				{% sw_include '@NovalnetSubscription/storefront/component/pagination-href.html.twig' with {
					entities: page.abos,
					criteria: page.abos.criteria,
					basePath: 'frontend.novalnet.subscription.orders'
				} %}
			{% endif %}
		{% endif %}
	</div>
	<script>
		function changePage(page)
		{
			var URL = document.getElementById('pageUrl').value;
			window.location.href = URL + '?p=' + page;
		}
	</script>
{% endblock %}
