<div class="modal fade"
	 id="aboId-{{ abo.id }}"
	 tabindex="-1"
	 role="dialog"
	 aria-hidden="true">

	{% block page_account_reactive_modal_dialog %}
		<div class="modal-dialog" role="dialog">
			{% block page_account_reactive_modal_content %}
				<div class="modal-content">
					{% block page_account_reactive_modal_header %}
						<div class="modal-header">
							{% block page_account_reactive_modal_header_title %}
								<h5 class="modal-title">{{ "NovalnetSubscription.text.reactiveHeading"|trans|sw_sanitize }}</h5>
							{% endblock %}
							{% block page_account_reactive_modal_header_close_button %}
								<button class="btn-close close"
										type="button"
										data-bs-dismiss="modal"
										aria-label="Close">
								</button>
							{% endblock %}
						</div>
					{% endblock %}

					{% block page_account_reactive_modal_body %}
						<div class="modal-body pb-0">
							{% block page_account_reactive_modal_body_description %}
								<p>{{ "NovalnetSubscription.text.reactiveDescription"|trans|sw_sanitize }}</p>
							{% endblock %}
						</div>
					{% endblock %}

					{% block page_account_reactive_modal_footer %}
						<div class="modal-footer pt-0">
							{% block page_account_reactive_modal_footer_form %}
								<form action="{{ path('frontend.novalnet.subscription.active.cycle', {'aboId': abo.id}) }}" data-form-csrf-handler="true" method="post" style="float:right">
									{% block page_checkout_aside_cancel_order_modal_header_back_button %}
										<button class="btn btn-outline-secondary"
												type="button"
												data-bs-dismiss="modal">
											{{ "NovalnetSubscription.text.cancelButton"|trans|sw_sanitize }}
										</button>
									{% endblock %}

									{% block page_account_reactive_modal_footer_form_button %}
										<button type="submit"
												class="btn btn-sm btn-primary">
											{{ "NovalnetSubscription.text.confirmButton"|trans|sw_sanitize }}
										</button>
									{% endblock %}
								</form>
							{% endblock %}
						</div>
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	{% endblock %}
</div>
